@media print {
    @page {
        margin: 3cm 0 3cm 0;
    }

    body, html {
        margin: 0;
        color: #1f2933;
        font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;
    }

    .slide {
        page-break-before: always;
        padding: 0px 100px 0px 100px;
        font-size: 1.5em;
        box-sizing: border-box;
        border-radius: 18px;
    }

    .slide-title {
        text-align: center;
        font-size: 2.2em;
        font-weight: 700;
        padding-bottom: 16px;
        border-bottom: 5px solid #487be9;
        letter-spacing: 0.02em;
    }

    .cover-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 8cm);
        text-align: center;
        position: relative;
        box-sizing: border-box;
        font-size: 1.25em;
        padding: 0 100px;
    }

    .cover-title {
        font-size: 2em;
        font-weight: 800;
    }

    .cover-slide::after {
        content: "Professor: Gabriel Soares Baptista\A Faesa 2026/2";
        white-space: pre;
        position: absolute;
        bottom: -3cm;
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
}
